.umbracoNaviHideIcon .umb-tree-item__inner {
	position: relative;
}

	.umbracoNaviHideIcon .umb-tree-item__inner:after {
		content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M19.604 2.562l-3.346 3.137c-1.27-.428-2.686-.699-4.243-.699-7.569 0-12.015 6.551-12.015 6.551s1.928 2.951 5.146 5.138l-2.911 2.909 1.414 1.414 17.37-17.035-1.415-1.415zm-6.016 5.779c-3.288-1.453-6.681 1.908-5.265 5.206l-1.726 1.707c-1.814-1.16-3.225-2.65-4.06-3.66 1.493-1.648 4.817-4.594 9.478-4.594.927 0 1.796.119 2.61.315l-1.037 1.026zm-2.883 7.431l5.09-4.993c1.017 3.111-2.003 6.067-5.09 4.993zm13.295-4.221s-4.252 7.449-11.985 7.449c-1.379 0-2.662-.291-3.851-.737l1.614-1.583c.715.193 1.458.32 2.237.32 4.791 0 8.104-3.527 9.504-5.364-.729-.822-1.956-1.99-3.587-2.952l1.489-1.46c2.982 1.9 4.579 4.327 4.579 4.327z'/></svg>");
		/*content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M254.867 214.401c-22.305 0-40.45 18.143-40.45 40.439 0 22.316 18.145 40.474 40.45 40.474 22.319 0 40.474-18.157 40.474-40.474 0-22.296-18.155-40.439-40.474-40.439zm0-74.942c-107.278 0-215.312 116.648-215.312 116.648s108.034 116.646 215.312 116.646c107.294 0 215.329-116.646 215.329-116.646S362.161 139.459 254.867 139.459zm0 197.952c-45.586 0-82.546-36.925-82.546-82.57 0-45.587 36.96-82.535 82.546-82.535 45.612 0 82.571 36.948 82.571 82.535 0 45.645-36.959 82.57-82.571 82.57z'></path></svg>"); */
		position: absolute;
		width: 17px;
		height: 17px;
		right: 50px;
		top: 50%;
		transform: translateY(-50%);
	}
